<a href="https://colab.research.google.com/github/Kensuzuki95/CE888/blob/main/Lab-6/Lab_6_Task7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 6:

## Task 7: To complete this task, please create a new notebook in Google Colab. 

Note: Please create a new notebook for this task.

Your data is stored in Lab_6/Data folder. There are two .csv files: 1) Country-data.csv and 2) data-dictionary.csv. Please explore the data and use any clustering method to find the list of countries, which can categorised as follows:

| S.No      | Categories |
| ----------- | ----------- |
| 1   | under-developing country |
| 2   | developing country       |
| 3   | developed country        |


Note: please justify your reason, why and how you have concluded your answer.

## Laod Necesarry Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
from sklearn import cluster, datasets, metrics
from sklearn.preprocessing import StandardScaler

## Load the Datasets

In [2]:
# Datasets are uploaded to GoogleDrive and imported using GoogleDrive
country_data = pd.read_csv("/content/drive/MyDrive/CE888 Data Science for Decision Making/Country-data.csv")
country_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     167 non-null    object
 1   child_mort  167 non-null    float64
 2   exports     167 non-null    float64
 3   health      167 non-null    float64
 4   imports     167 non-null    float64
 5   income      167 non-null    int64
 6   inflation   167 non-null    float64
 7   life_expec  167 non-null    float64
 8   total_fer   167 non-null    float64
 9   gdpp        167 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 13.2+ KB

In [3]:
df_dict = pd.read_csv("/content/drive/MyDrive/CE888 Data Science for Decision Making/data-dictionary.csv")
df_dict

  Column Name                                        Description
0     country                                Name of the country
1  child_mort  Death of children under 5 years of age per 100...
2     exports  Exports of goods and services per capita. Give...
3      health  Total health spending per capita. Given as %ag...
4     imports  Imports of goods and services per capita. Give...
5      Income                              Net income per person
6   Inflation  The measurement of the annual growth rate of t...
7  life_expec  The average number of years a new born child w...
8   total_fer  The number of children that would be born to e...
9        gdpp  The GDP per capita. Calculated as the Total GD...

## Which variables to use to cateogorize into 3 countries

| S.No      | Categories |
| ----------- | ----------- |
| 1   | under-developing country |
| 2   | developing country       |
| 3   | developed country        |

In [4]:
from sklearn.cluster import KMeans

X = country_data[['child_mort', 'exports', 'health', 'imports', 'income',
                   'inflation', 'life_expec', 'total_fer', 'gdpp']]         #Extracting the variables

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_std = sc.fit_transform(X)

## Conduct K-Means Clustering

In [5]:
# Set number of clusters to 3 (Set Random state for reproducability)
km = KMeans(n_clusters=3, random_state=99).fit(X_std)
km.labels_

array([0, 2, 2, 0, 2, 2, 2, 1, 1, 2, 2, 1, 2, 2, 2, 1, 2, 0, 2, 2, 2, 0,
       2, 1, 2, 0, 0, 2, 0, 1, 2, 0, 0, 2, 2, 2, 0, 0, 0, 2, 0, 2, 1, 1,
       1, 2, 2, 2, 2, 0, 0, 2, 2, 1, 1, 0, 0, 2, 1, 0, 1, 2, 2, 0, 0, 2,
       0, 2, 1, 2, 2, 2, 0, 1, 1, 1, 2, 1, 2, 2, 0, 0, 1, 2, 0, 2, 2, 0,
       0, 2, 2, 1, 2, 0, 0, 2, 2, 0, 1, 0, 2, 2, 2, 2, 2, 2, 0, 2, 0, 2,
       1, 1, 0, 0, 1, 2, 0, 2, 2, 2, 2, 2, 1, 1, 2, 2, 0, 2, 2, 0, 2, 2,
       0, 1, 1, 1, 2, 0, 1, 1, 2, 2, 0, 2, 1, 1, 2, 0, 2, 0, 0, 2, 2, 2,
       2, 0, 2, 1, 1, 1, 2, 2, 2, 2, 2, 0, 0], dtype=int32)

In [6]:
# Add Predicted Catogires column to the main dataset|
country_data['Predicted Categories'] = km.labels_
country_data

                 country  child_mort  ...   gdpp  Predicted Categories
0            Afghanistan        90.2  ...    553                     0
1                Albania        16.6  ...   4090                     2
2                Algeria        27.3  ...   4460                     2
3                 Angola       119.0  ...   3530                     0
4    Antigua and Barbuda        10.3  ...  12200                     2
..                   ...         ...  ...    ...                   ...
162              Vanuatu        29.2  ...   2970                     2
163            Venezuela        17.1  ...  13500                     2
164              Vietnam        23.3  ...   1310                     2
165                Yemen        56.3  ...   1310                     0
166               Zambia        83.1  ...   1460                     0

[167 rows x 11 columns]

In [7]:
def clustering(column_list, col_name):
  column_list = country_data[column_list]
  from sklearn.preprocessing import StandardScaler
  sc = StandardScaler()
  X_std = sc.fit_transform(column_list)
  km = KMeans(n_clusters=3, random_state=99).fit(X_std)
  km.labels_
  country_data[col_name] = km.labels_
  return country_data

econ_factor = ['exports', 'imports', 'income', 'inflation', 'gdpp']
non_econ_factor = ['child_mort', 'health', 'life_expec', 'total_fer']

clustering(econ_factor, ['econ_factor'])
clustering(non_econ_factor, ['non_econ_factor'])

                 country  child_mort  ...  econ_factor  non_econ_factor
0            Afghanistan        90.2  ...            0                1
1                Albania        16.6  ...            0                2
2                Algeria        27.3  ...            0                2
3                 Angola       119.0  ...            0                1
4    Antigua and Barbuda        10.3  ...            0                2
..                   ...         ...  ...          ...              ...
162              Vanuatu        29.2  ...            0                2
163            Venezuela        17.1  ...            0                2
164              Vietnam        23.3  ...            0                2
165                Yemen        56.3  ...            0                1
166               Zambia        83.1  ...            0                1

[167 rows x 13 columns]

### Clustering results produced using all variables

- The clustering results shows that `cluster 1` are mainly formed by African nations with some of the Middle-Eastern nations, while `cluster 2` covers majority of the North American countries, EU member states, and major economies. `Cluster 3` covers mid-size economies and geographically small and stable countries.

- The results of the econ-factor based clustring

      0. under-developing countries 
      1. developed countries
      2. developing countries

In [8]:
|country_data['Predicted Categories'].value_counts()

2    84
0    47
1    36
Name: Predicted Categories, dtype: int64

In [11]:
for i in range(3):
    print("Cluster:", i)
    print("The Members:", ' | '.join(list(country_data[country_data['Predicted Categories'] == i]['country'].values)))
    print("Total Members:", len(list(country_data[country_data['Predicted Categories'] == i]['country'].values)))
    print()

Cluster: 0
The Members: Afghanistan | Angola | Benin | Botswana | Burkina Faso | Burundi | Cameroon | Central African Republic | Chad | Comoros | Congo, Dem. Rep. | Congo, Rep. | Cote d'Ivoire | Equatorial Guinea | Eritrea | Gabon | Gambia | Ghana | Guinea | Guinea-Bissau | Haiti | Iraq | Kenya | Kiribati | Lao | Lesotho | Liberia | Madagascar | Malawi | Mali | Mauritania | Mozambique | Namibia | Niger | Nigeria | Pakistan | Rwanda | Senegal | Sierra Leone | South Africa | Sudan | Tanzania | Timor-Leste | Togo | Uganda | Yemen | Zambia
Total Members: 47

Cluster: 1
The Members: Australia | Austria | Bahrain | Belgium | Brunei | Canada | Cyprus | Czech Republic | Denmark | Finland | France | Germany | Greece | Iceland | Ireland | Israel | Italy | Japan | Kuwait | Luxembourg | Malta | Netherlands | New Zealand | Norway | Portugal | Qatar | Singapore | Slovak Republic | Slovenia | South Korea | Spain | Sweden | Switzerland | United Arab Emirates | United Kingdom | United States
Total Members: 36

Cluster: 2
The Members: Albania | Algeria | Antigua and Barbuda | Argentina | Armenia | Azerbaijan | Bahamas | Bangladesh | Barbados | Belarus | Belize | Bhutan | Bolivia | Bosnia and Herzegovina | Brazil | Bulgaria | Cambodia | Cape Verde | Chile | China | Colombia | Costa Rica | Croatia | Dominican Republic | Ecuador | Egypt | El Salvador | Estonia | Fiji | Georgia | Grenada | Guatemala | Guyana | Hungary | India | Indonesia | Iran | Jamaica | Jordan | Kazakhstan | Kyrgyz Republic | Latvia | Lebanon | Libya | Lithuania | Macedonia, FYR | Malaysia | Maldives | Mauritius | Micronesia, Fed. Sts. | Moldova | Mongolia | Montenegro | Morocco | Myanmar | Nepal | Oman | Panama | Paraguay | Peru | Philippines | Poland | Romania | Russia | Samoa | Saudi Arabia | Serbia | Seychelles | Solomon Islands | Sri Lanka | St. Vincent and the Grenadines | Suriname | Tajikistan | Thailand | Tonga | Tunisia | Turkey | Turkmenistan | Ukraine | Uruguay | Uzbekistan | Vanuatu | Venezuela | Vietnam
Total Members: 84

### Clustering results using economic variables

- The clustering results shows that the cetgorization is quite skewed that `cluster 0` has approx. 75% of the countries while `cluster 2` only contains small hyper-luxurious countries 

- The results of the econ-factor based clustring

      0. under-developing countries 
      1. developing countries
      2. developed countries

In [10]:
country_data['econ_factor'].value_counts()

0    124
1     40
2      3
Name: econ_factor, dtype: int64

In [12]:
for i in range(3):
    print("Cluster:", i)
    print("The Members:", ' | '.join(list(country_data[country_data['econ_factor'] == i]['country'].values)))
    print("Total Members:", len(list(country_data[country_data['econ_factor'] == i]['country'].values)))
    print()

Cluster: 0
The Members: Afghanistan | Albania | Algeria | Angola | Antigua and Barbuda | Argentina | Armenia | Azerbaijan | Bangladesh | Barbados | Belarus | Belize | Benin | Bhutan | Bolivia | Bosnia and Herzegovina | Botswana | Brazil | Bulgaria | Burkina Faso | Burundi | Cambodia | Cameroon | Cape Verde | Central African Republic | Chad | Chile | China | Colombia | Comoros | Congo, Dem. Rep. | Congo, Rep. | Costa Rica | Cote d'Ivoire | Croatia | Dominican Republic | Ecuador | Egypt | El Salvador | Eritrea | Fiji | Gabon | Gambia | Georgia | Ghana | Grenada | Guatemala | Guinea | Guinea-Bissau | Guyana | Haiti | India | Indonesia | Iran | Iraq | Jamaica | Jordan | Kazakhstan | Kenya | Kiribati | Kyrgyz Republic | Lao | Latvia | Lebanon | Lesotho | Liberia | Libya | Lithuania | Macedonia, FYR | Madagascar | Malawi | Malaysia | Maldives | Mali | Mauritania | Mauritius | Micronesia, Fed. Sts. | Moldova | Mongolia | Montenegro | Morocco | Mozambique | Myanmar | Namibia | Nepal | Niger | Nigeria | Pakistan | Panama | Paraguay | Peru | Philippines | Poland | Romania | Russia | Rwanda | Samoa | Senegal | Serbia | Sierra Leone | Solomon Islands | South Africa | Sri Lanka | St. Vincent and the Grenadines | Sudan | Suriname | Tajikistan | Tanzania | Thailand | Timor-Leste | Togo | Tonga | Tunisia | Turkey | Turkmenistan | Uganda | Ukraine | Uruguay | Uzbekistan | Vanuatu | Venezuela | Vietnam | Yemen | Zambia
Total Members: 124

Cluster: 1
The Members: Australia | Austria | Bahamas | Bahrain | Belgium | Brunei | Canada | Cyprus | Czech Republic | Denmark | Equatorial Guinea | Estonia | Finland | France | Germany | Greece | Hungary | Iceland | Ireland | Israel | Italy | Japan | Kuwait | Netherlands | New Zealand | Norway | Oman | Portugal | Qatar | Saudi Arabia | Seychelles | Slovak Republic | Slovenia | South Korea | Spain | Sweden | Switzerland | United Arab Emirates | United Kingdom | United States
Total Members: 40

Cluster: 2
The Members: Luxembourg | Malta | Singapore
Total Members: 3

### Clustering results using non-economic variables

- The clustering results shows that the cetgorization is fairly distributed, while some countries maybe misclassified considering their actual national economic status 

- The results of the econ-factor based clustring

      0. developed countries 
      1. under-developing countries
      2. developing countries

In [9]:
country_data['non_econ_factor'].value_counts()

2    68
0    51
1    48
Name: non_econ_factor, dtype: int64

In [14]:
for i in range(3):
    print("Cluster:", i)
    print("The Members:", ' | '.join(list(country_data[country_data['non_econ_factor'] == i]['country'].values)))
    print("Total Members:", len(list(country_data[country_data['non_econ_factor'] == i]['country'].values)))
    print()

Cluster: 0
The Members: Argentina | Australia | Austria | Bahamas | Barbados | Belgium | Bosnia and Herzegovina | Brazil | Canada | Chile | Colombia | Costa Rica | Croatia | Czech Republic | Denmark | Ecuador | Finland | France | Georgia | Germany | Greece | Hungary | Iceland | Ireland | Israel | Italy | Japan | Jordan | Lebanon | Luxembourg | Malta | Micronesia, Fed. Sts. | Moldova | Montenegro | Netherlands | New Zealand | Norway | Panama | Poland | Portugal | Serbia | Slovak Republic | Slovenia | South Korea | Spain | Sweden | Switzerland | Ukraine | United Kingdom | United States | Uruguay
Total Members: 51

Cluster: 1
The Members: Afghanistan | Angola | Benin | Botswana | Burkina Faso | Burundi | Cameroon | Central African Republic | Chad | Comoros | Congo, Dem. Rep. | Congo, Rep. | Cote d'Ivoire | Equatorial Guinea | Eritrea | Gabon | Gambia | Ghana | Guinea | Guinea-Bissau | Haiti | Iraq | Kenya | Kiribati | Lao | Lesotho | Liberia | Madagascar | Malawi | Mali | Mauritania | Mozambique | Namibia | Niger | Nigeria | Pakistan | Rwanda | Senegal | Sierra Leone | Solomon Islands | South Africa | Sudan | Tanzania | Timor-Leste | Togo | Uganda | Yemen | Zambia
Total Members: 48

Cluster: 2
The Members: Albania | Algeria | Antigua and Barbuda | Armenia | Azerbaijan | Bahrain | Bangladesh | Belarus | Belize | Bhutan | Bolivia | Brunei | Bulgaria | Cambodia | Cape Verde | China | Cyprus | Dominican Republic | Egypt | El Salvador | Estonia | Fiji | Grenada | Guatemala | Guyana | India | Indonesia | Iran | Jamaica | Kazakhstan | Kuwait | Kyrgyz Republic | Latvia | Libya | Lithuania | Macedonia, FYR | Malaysia | Maldives | Mauritius | Mongolia | Morocco | Myanmar | Nepal | Oman | Paraguay | Peru | Philippines | Qatar | Romania | Russia | Samoa | Saudi Arabia | Seychelles | Singapore | Sri Lanka | St. Vincent and the Grenadines | Suriname | Tajikistan | Thailand | Tonga | Tunisia | Turkey | Turkmenistan | United Arab Emirates | Uzbekistan | Vanuatu | Venezuela | Vietnam
Total Members: 68